.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.container{
    margin-bottom: 100px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #ff136f;
}

.buy_now{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-top: 10px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1{
    background-image: linear-gradient(to right, rgb(241, 181, 70), rgb(253, 143, 0));
}
.cat2{
    background-image: linear-gradient(to right, rgb(184, 119, 181), rgb(230, 10, 222));
}
.cat3{
    background-image: linear-gradient(to right, rgba(0,0,255,0.5), rgba(0,0,255,1));
}

.cat1, .cat2, .cat3{
    border-radius: 10px;
    padding: 15px 0px;
    color: #fff;
}

.category img{
    width: 120px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightslategray;
}

.card img{
    width: 80%;
}

.card-footer{
    border-top: none;
    background-color: #fff;
}